@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700,900&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic,cyrillic-ext,latin-ext');

$font: 'Roboto';
$font_bold: 900;
$font_normal: 400;

$font_head: 'Roboto Slab';
$font_head_bold: 700;
$font_head_normal: 400;

$font: 'Open Sans';
$font_bold: 800;
$font_normal: 400;

$font_head: 'Open Sans';
$font_head_bold: 800;
$font_head_normal: 400;
