$color_main: #cc00ff;
$color_dark: #333333;
$color_light: #ffffff;
$color_fill: #eeeeee;
$color_fill1: #eeeeee;
$color_fill2: #dddddd;
$color_fill3: #e6e6e6;

$gallery_height: 30vh;

$path_pictures: 'https://strakhov.ru/files/projects/portfolio/';

$screen-xs-min: 0;
$screen-xs-max: 767px;

$screen-sm-min: 768px;
$screen-sm-max: 991px;

$screen-md-min: 992px;
$screen-md-max: 1199px;

$screen-lg-min: 1200px;
$screen-lg-max: 5000px;
